@font-face {
  font-family: 'EB Garamond', 'Arial', 'Helvetica', 'sans-serif';
  src: url(fonts/ebgaramondmedium.woff) format ('woff');
  src: url(fonts/ebgaramondmedium.woff2) format ('woff2');
  src: url(fonts/ebgaramondmedium.ttf) format ('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'EB ebgaramondregular', 'Arial', 'Helvetica', 'sans-serif';
  src: url(fonts/ebgaramondregular.woff) format ('woff');
  src: url(fonts/ebgaramondregular.woff2) format ('woff2');
  src: url(fonts/ebgaramondregular.ttf) format ('truetype')
  font-weight: 400;
  font-display: swap;
}

@font-face {
 font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
 src: url(fonts/interregular.woff) format ('woff')
 src: url(fonts/interregular.woff2) format ('woff2')
 src: url(fonts/interregular.ttf) format ('truetype')
 font-weight: 400;
 font-display: swap;
}

@font-face {
font-family: 'Interbold' , 'Arial', 'Helvetica', 'sans-serif';
src: url(fonts/interbold.woff) format ('woff');
src: url(fonts/interbold.woff2) format ('woff2');
src: url(fonts/interbold.ttf) format ('truetype')
font-weight: 700;
font-display: swap;
}

